---
const skills = [
  {
    name: "Astro",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/Astro.svg",
  },
  {
    name: "CSS3",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/CSS3.svg",
  },
  {
    name: "HTML",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/HTML.svg",
  },
  {
    name: "JavaScript",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/JavaScript.svg",
  },
  {
    name: "TypeScript",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/TypeScript.svg",
  },
  {
    name: "Docker",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/Docker.svg",
  },
  {
    name: "Photoshop",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/Photoshop.svg",
  },
  {
    name: "Python",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/Python.svg",
  },
  {
    name: "Git",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/Git.svg",
  },
  {
    name: "MySQL",
    icon: "https://imgbed.904002.xyz/file/img/blog/icon/skill/MySQL.svg",
  },
];
---

<div
  class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-4"
>
  {
    skills.map((skill, i) => (
      <div
        class="group card flex flex-col items-center gap-2 p-4 cursor-default"
        style={`
        animation: fade-in-up 0.4s ease ${i * 0.06}s backwards;
        transition: all 0.3s ease;
      `}
      >
        <div
          class="relative flex h-12 w-12 items-center justify-center rounded-xl transition-all duration-300 group-hover:scale-110 group-hover:rotate-3"
          style={`
          background: ${skill.color}12;
          box-shadow: 0 0 0 0 ${skill.color}00;
          transition: all 0.3s ease;
        `}
          onmouseenter={`this.style.boxShadow='0 0 20px ${skill.color}40'; this.style.background='${skill.color}20';`}
          onmouseleave={`this.style.boxShadow='0 0 0 0 ${skill.color}00'; this.style.background='${skill.color}12';`}
        >
          <img
            src={skill.icon}
            alt={skill.name}
            class="h-8 w-8 object-contain"
            loading="lazy"
          />
        </div>
        <span class="text-xs font-medium text-foreground transition-colors group-hover:text-primary">
          {skill.name}
        </span>
      </div>
    ))
  }
</div>
